
/* This is my main box */
main{
    background-color: #FFFFFF;
    box-shadow: 0.625rem 0.625rem var(--dark-gray-color);
}

.learning-status{
    background-color: var(--yellow-color);
}

.course-title:hover{
    color: var(--yellow-color);
    cursor: pointer;
}

.courseDescription{
    color: var(--gray-color);
}

.instructor-photo{
    height: 2rem;
}