html {
    font-size: 16px;
}

/* To change screen settings on smaller screen devices */

@media (max-width: 550px){

    /* This will change the sized of everything, since I used rem values */
    html{
        font-size: 85%;
    }
    
}

@media (max-width: 400px){

    html{
        font-size: 75%;
    }
    
}

@media (max-width: 335px){

    html{
        font-size: 60%;
    }
    
}