/* Variables */
:root{
    --Slate-light: hsl(212, 45%, 89%);
    --Slate-med: hsl(216, 15%, 48%);
    --Slate-dark: hsl(218, 44%, 22%);
    --Weight1: 400;
    --Weight2: 700;
}

body{
    background-color: var(--Slate-light);
}