.attribution { 
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body{
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #F4D04E;
    display: grid;
    /** Justify content horizontally **/
    /* justify-content: center; */

    /** Justify content vertically **/
    /* align-items: center; */

    /** Justify content both horizontally and vertically **/
    place-items: center;
}