
/* This is my main box */
main{
    background-color: white;
    width: 21rem;
    height: 32rem;
}

.title{
    color: var(--Slate-dark);
    font-size: 1.3rem;
}

.description{
    color: var(--Slate-med);
    letter-spacing: .013rem;
}
